.containerMAIN{
    padding: 30px 30px;
    display: flex;
}



header img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid blue;
    margin-bottom: -120px;
    margin-right: 80px;
    margin-left: -30px;
    
}

h1, h2, h3{
    margin: 0;
    display: inline;

}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: normal;
    color: white;
   
}

h1 span{ 
    font-weight: bold;
}

.apresentação p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d9e2ee;
    
}



body{
    background-color: #d9e2ee;
    margin: 0;
    
}

header{
    background-color: #173861;
    padding: 20px 64px;
    width: 1860px;
}


.apresentação{
    display: inline-block;
}

.Coluna-Esquerda{
    margin-top: 80px;
    padding: 24px;
    margin-left: -60px;
}

.Coluna-Esquerda_contatos{
    padding: 0px;
}
.Coluna-Esquerda_contatos h2{
    margin-left: 70px;
    color: rgb(180, 25, 11);
    

}

.Coluna-Esquerda_contatos h3{
    font-weight: normal;
}

.Coluna-Esquerda_contatos ul{
    margin-top: 5px;
    padding-bottom: 2px;
}

.Coluna-Esquerda_contatos il{
    margin-top: 5px;
    padding-bottom: 
    5px;
}

ul {
    list-style-type: none;
    padding: o;
}

.Coluna-Esquerda h3{
    font-size: 18px;
    font-weight: normal;
    
    
}

.Coluna-Esquerda_redessociais{
    padding-top: 20px;
}



.Coluna-Esquerda_redessociais h2{
    margin-left: 70px;
    color: rgb(251, 25, 5);

}

.Coluna-Esquerda_redessociais a{
    text-decoration: none;
    
}

.Coluna-Esquerda_redessociais li{
    padding: 5px;
}
.Coluna-Esquerda_redessociais ul{
    margin-top: 5px;
    padding-bottom: 10px

}



.Coluna-Esquerda_certificados h2{
    margin-left: 70px;
    color: rgb(180, 25, 11);
    
    
}

.Coluna-Esquerda_certificados ul{
    margin-top: -2px;
}

.Coluna-Esquerda_certificados p{
   color: rgb(68, 80, 92);
   margin-top: -2px;
   font-family: cursive;
}

.Coluna-Esquerda_certificados img {
    width: 24px;
    height: 24px;
}

.Coluna-Esquerda_certificados a{
    display: block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    color: rgb(6, 132, 250);
}

.Coluna-Esquerda li {
    display: flex;
}

.Coluna_Direita{
    margin-top: 70px;
    
}

.Coluna_Direita h2{
    margin-left: 12px;
}


.habilidades{
    font-size: 50px;
    margin-bottom: 20px;
    
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.habilidades_grupo{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 12px;
    width: 300px;
    padding-bottom: 0px;
    
    
}
.habilidades_grupo li{
    margin-top: -10px;
    margin-left: -38px;
}

.habilidades_grupo li:first-child{
    margin-top: -40px;
}

.habilidades_grupo h3{
    font-size: 36px;
    font-weight: bold;
    

}

.item{
    font-size: 24px

}

.progresso{
    width: 100%;
    display: flex;
    
}

.barra{
    width: 20%;
    height: 4px;
    background-color: black;
    margin-top: -22px;
}

.incompleto{
    opacity: 0.2;
}


.ContainerProjetos{
    display: flex;
    flex-direction: row;
    width: 1180px;
    
    
}



.Projetos h2{
    font-size: 80px;
    margin-left: 400px;
}

.container2{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}




.Projetos_grupo{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    width: 465px;
    

}

.Projetos_grupo h3{
    font-size: 36px;
    font-weight: bold;
    
}

.Projetos_grupo p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.Projetos_grupo img{
    width: 100%;
    height: 100%;
    font-size: small;
}


.Projetos_grupo a{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 6px 24px ;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    font-weight: 800px;
    display: inline-block;
    text-align: center;
    display: block;
    font-size: 18px;
    width: 110px;
}


footer{
    background-color: #000000;
    padding: 57.6px;
    color: white;
    text-align: center;
    font-family: monospace;
    transition: all ease-in-out .4s;display: block;
    border-top: 10px solid black;
    width: 1860px;
    margin-top: 550px;
    
}

footer h3{
    font-size: 30px;
}

footer h4{
    font-size: 32px;
    background-color: blue;
    width: 180px;
    padding: 2px;
    border-radius: 10px;
}


footer p{
    text-align: center;
    font-size: 30px;
}

footer img{
    display: inline-flexbox;
    height:40px;
    margin-top: 10px;
    
}

.botao{
    color: rgb(212, 248, 212);
    background-color: green;
    display: inline;
    cursor: pointer;
    border-radius: 100px;
    font-size: 48px;
    height: 60px;
    width: 600px;
    display: inline;
    
    
}


.Footer_redesSocias li{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
footer a{
    
    margin-top: 10px;
    text-decoration: none;
    background-color: rgb(26, 113, 212);
    color: white;
    padding: 6px 12px ;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    font-weight: 800px;
    font-size: 28px;
    width: 110px;
    
    height: 30px;
    text-align: center;
    
}


@media screen and (min-width: 320px){
    .habilidades{
        margin-left: 100px;  
    }

    .container{
        width: 800px;
    }

    footer p{
        text-align: left;
    }

    footer{
        text-align: left;
    }

}
@media screen and (min-width: 425px){

    .ContainerProjetos{
        margin-left: 100px;
    }

    .habilidades{
        margin-left: 200px;  
    }
}

@media screen and (min-width: 768px){

        .container{
            width: 1200px;
            
        }

        .ContainerProjetos{
            margin-left: 450px;
            margin-top: -400px;
        }

        .Projetos h2{
            margin-left: 40px;
        }

}

@media screen and (min-width: 1800px){

    .habilidades{
        margin-left: 150px;  
    }
    .ContainerProjetos{
        margin-top: -300px;
        margin-left: 550px;
    }
}



